
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong><%= @projeto.titulo%></strong>
            </h1>
            <hr>
            <div class="container-fluid">
            <figure class="figure">
              <%= image_tag @projeto.foto_projeto.url(:medium), class: "rounded" %>
            </figure>

            <p></p>

            <p>
              <%autor = Usuario.find(@projeto.usuario_id)%>
              <strong><h4>Desenvolvedor: <%=link_to autor.username, '../usuarios/'+autor.id.to_s%></h4></strong><br>
              <%= link_to like_projeto_path(@projeto), class:"like", method: :put do%>
                <button type="button" class="btn btn-info" aria-label="Left Align">
                  <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
                  <span class="badge"><%= @projeto.get_upvotes.size %></span>
                </button>
              <% end %>
              <%= link_to unlike_projeto_path(@projeto), class:"like", method: :put do%>
                <button type="button" class="btn btn-info" aria-label="Left Align">
                  <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
                  <span class="badge"><%= @projeto.get_downvotes.size %></span>
                </button>
              <% end %>
              <br>
              <br>
              <strong>Descrição:</strong><br>
              <%= @projeto.descricao %>
            </p>

            <p>
              <strong>Instruções:</strong><br>
              <%= @projeto.instrucoes %>
            </p>

            <%if usuario_signed_in?%>
            <% if @projeto.usuario_id == current_usuario.id %>
            <%= link_to 'Editar', edit_projeto_path(@projeto) %>
            <%= link_to 'Apagar', projeto_path(@projeto), method: :delete, data: {confirm: "Tem certeza?"} %>
            <% end %>
            <%end%>
            <br>
            <br>
            <br>
            <a  class= "btn btn-secondary btn-xl js-scroll-trigger" href="javascript:history.back()" >Voltar</a>
            <a class="btn btn-primary btn-xl jsprojetos-scroll-trigger" href="<%=@projeto.link%>" target="_blank">Ir para o repositório do projeto</a>
            <br>
            <br>

            <hr>
              <h3 class="text-uppercase">
                Comentários:
              </h3>
            <%if @projeto.comentarios.count == 0%>
            <header class="masthead text-center d-flex">
              <h4 >
                Este projeto ainda não possui comentários, seja o primeiro a comentar!</h4>
              </h4>
            </header>
            <%end%>

            <%= render @projeto.comentarios %>
<br>
<br>

            <%= form_for([@projeto, @projeto.comentarios.build]) do |f| %>
            <div class="form-group">
              <label for="comment">Novo Comentário:</label>
              <%= f.text_area :texto, class:"form-control", rows: "5"%>
            </div>
            <div class="actions">
              <%= f.submit "Comentar", class: "btn btn-primary btn-xl"%>
            </div>
            <%end%>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>

      </div>
    </div>
